!!! 5
html(lang='en', ng-app='billRive')
head
    meta(charset='utf-8')
    title BillRive
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.css')
  body
    ul.menu
      li
        a(href='#/bills') bills
      li
        a(href='#/view2') view2
    div(ng-view='ng-view')
    //
       In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        
    script(src='lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/routes.js')
    script(src='lib/jquery-2.0.0.js')
    script(src='lib/angular-strap.js')
    script(src='lib/bootstrap/js/bootstrap.js')
    //
      underscore is for additional collection manipulation etc
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    //
      Moment is for parsing dates
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    //
      FastClick is a simple, easy-to-use library for eliminating the 300ms delay between a physical tap and the firing of a click event on mobile browsers.
    script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js')
