<div class="span4" style="padding-right:10px;">
                <label>First Name</label>
                <input type="text" class="span8" ng-model="friend.name"  placeholder="John"/>
                 <label>Last Name</label>
                <input type="text" class="span8" ng-model="friend.name"  placeholder="Doe"/>
                 <label>Email</label>
                <input type="text" class="span8" ng-model="friend.name"  placeholder="john.doe@gmail.com"/>
                <!--<div>{{$scope.newGroup.name}}</div>-->


         
  
</div>
