<div class="span4" style="padding-right:10px; border-right: 1px solid #ccc;">
                <label>Group Name</label>
                <input type="text" class="span8" ng-model="tmpGroup.name"  placeholder="New Group"/>
                <!--<div>{{$scope.newGroup.name}}</div>-->


         
  
</div>

<div class="span8">
<!--             <div class="span3">
                    <input ng-change='listActUsers()' type="checkbox" ng-model="user.enabled" />
                
                </div>-->
  
<!--   <table class="table table-striped">

        <tbody>  
          <tr ng-repeat="friend in friends ">
           
            <td>{{ friend.name }}</td>
          </tr>
        </tbody>
      </table>-->

<ul class="unstyled"> 

        <li ng-repeat="friend in tmpFriends " > 
            <div class="row-fluid">

                <div class="span3">
                    <input ng-change='setNewGroupMembership()' type="checkbox" ng-model="friend.addToGroup" />
                    <span  class="done-{{!friend.addToGroup}}"> {{friend.name}}</span>
                </div>
<!--                <div class="span3">
                     ng-required='user.enabled' 
                    <input  ng-disabled="!user.enabled" ng-change='simpleCalculateSum()' type="text" ng-model='user.liableCost' class="span6" placeholder="0.00" />
                </div>  -->
            </div>  
        </li>

    </ul>
    <!--{{friends}}-->
    {{tmpGroup}}
    {{tmpFriends}}
</div>