<div class="col-md-4" style="padding-right: 10px; border-right: 1px solid #ccc;">

    <div class='form-group'>
        <label>Name</label>
        <input type="text" class="form-control" ng-model="group.name"
               placeholder="New Group" />
    </div>
    <div class='form-group'>
        <label>Description</label>
        <textarea class="form-control"  ng-model="group.description"></textarea>
    </div>
</div>
<div class="col-md-8">
    <div class='form-group'>
        <label>Memberships</label>
        <ul class="list-unstyled col-md-4">
            <li ng-repeat="friend in user.friends">
                <input ng-change="setNewGroupMembership()" type="checkbox" ng-model="friend.addToGroup"
                       /> <span class="done-{{!friend.addToGroup}}"> {{friend.fName}} {{friend.lName}}</span>

            </li>
        </ul>
    </div>
</div>
<!--user.friends: {{user.friends}} Friend: {{friend}}-->
