<div>
  <div class="alert alert-error" ng-show="loginError">Username and/or Password Incorrect</div>
  
  <form class="form-horizontal" ng-submit="login()">
      <fieldset>
          <legend>Login</legend>
          
          <div class="control-group">  
            <label class="control-label" for="userName">User name</label>  
            <div class="controls">  
                <input id="userName"type='text' ng-model='user.username' placeholder='jdoe'/>
            </div>  
          </div>  
          <div class="control-group">  
            <label class="control-label" for="password">Password</label>  
            <div class="controls">  
                <input id="password" type='password' ng-model='user.password' placeholder='password'/>
            </div>  
          </div>  
          <div class="control-group">  
            <div class="controls">  
                <button class="btn btn-primary" type="submit">Login</button>
            </div>  
          </div>  
      </fieldset>
  </form>
</div>