<div>
    <div class="alert alert-error" ng-show="loginError">Username and/or Password Incorrect</div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Login</legend>
            <div class="control-group">
                <label label-default="label-default" class="control-label label-default"
                for="userName">User name</label>
                <div class="controls">
                    <input id="userName" type="text" ng-model="user.email" placeholder="jdoe"
                    />
                </div>
            </div>
            <div class="control-group">
                <label label-default="label-default" class="control-label label-default"
                for="password">Password</label>
                <div class="controls">
                    <input id="password" type="password" ng-model="user.password" placeholder="password"
                    />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" ng-click="login()">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>