<br />
<div> <ul class="unstyled"> 

        <li ng-repeat="user in bill.billFinances.billItemEntry" > 



            <div class="row-fluid">

                <div class="span3">
                    <input type="checkbox" ng-model="todo.done"/>
                    {{user.userId}}
                </div>
                <div class="span3">
                    <input type="text" ng-model='user.liableCost' class="span6" placeholder="5.00" />
                </div>  
            </div>  
        </li>

    </ul>
    <hr width="250" size="1">
    <ul class="unstyled">
        <li > 

            <div class="row-fluid">

                <div class="span3">

                    Total
                </div>
                <div class="span3">
                    <input type="text" class="span6" placeholder="5.00" />
                </div>  
            </div>  
        </li></ul>
</div>