
  <table class="table table-striped">
        <thead>
          <tr>
          
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <div>
        <a class="btn btn-success" href="#/groups/add"><i class="icon-plus-sign icon-white"></i>&nbsp;Add a Friend</a>
      <div class="input-append pull-right">
          <input type="search" ng-model="query" class="span2" name="q" autocomplete="off" placeholder="Search" tabindex="1">
    <button class="btn"><i class="icon-search icon-large"></i> </button>
    </div>
        <div><h4>Active Groups<h4></div>
        <tbody>  
          <tr ng-repeat="ifriend in user.friends | filter:query | orderBy:'date'">
           
            <td>{{ ifriend.name }}</td>
          
            <td>
             <!-- <a  href="#/groups/edit/{{$index}}"><i class="icon-pencil "></i></a>-->
               <a  class="btn btn-mini btn-success" href="#/groups/edit/{{ifriend.id}}"></i>&nbsp;Edit group</a>
            </td>
            <td>
            <a ng-click="deactivateGroup(ifriend.id)" class="btn btn-mini btn-warning" href="#/groups/list"></i>&nbsp;Deactivate group</a>
            </td>
          </tr>
          
        </tbody>
      </table>

<table>
    <div><h4>Inactive Groups<h4></div>
    <tbody>
           <tr ng-repeat="ifriend in tmpInActGroups | filter:query | orderBy:'date'">
           
            <td>{{ ifriend.name }}</td>
            <td>
                <!--<a ng-click="/groups/activate/{{ifriend.id}}" class="btn btn-mini btn-success" href="#/groups/edit/{{$index}}"></i>&nbsp;Activate group</a>-->
            
                <a ng-click="activateGroup(ifriend.id)" class="btn btn-mini btn-success" href="#/groups/list"></i>&nbsp;Activate group</a>
            </td>
          </tr>
    </tbody>
</table>
{{tmpGroups}}