<div>
            <a class="btn btn-success" href="#/friends/add"><i class="icon-plus-sign icon-white"></i>&nbsp;Add a Friend</a>
      <div class="input-append pull-right">
          <input type="search" ng-model="query" class="span2" name="q" autocomplete="off" placeholder="Search" tabindex="1">
    <button class="btn"><i class="icon-search icon-large"></i> </button>
    </div>
        <h4>Active Friends</h4>
</div>
<div class="table-responsive">
  <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>  
          <tr ng-repeat="ifriend in user.friends | filter:query | orderBy:'date'">
           
            <td>{{ifriend.fName}} {{ifriend.lName}}</td>
          
            <td>
             <!-- <a  href="#/friends/edit/{{$index}}"><i class="icon-pencil "></i></a>-->
               <a  class="btn" href="#/friends/edit/{{ifriend.id}}"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</a>
            <a ng-click="deactivateGroup(ifriend.id)" class="btn" href="#/friends/list"><i class="glyphicon glyphicon-trash"></i>&nbsp;Deactivate</a>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>