<div>
    <h4>Edit Bill</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form ng-submit="editBill()" ng-include="'partials/forms/billAddEdit.html'"></form>
        </div>
    </div>
    <div class="col-md-8">
        <!-- <i class="glyphicon glyphicon-search icon-large"></i>  <input class=" btn btn-primary pull-right pagination-centered" type="submit" value="add bill">--> <a ng-click="editBill()" class="btn btn-success"><i class="glyphicon glyphicon-edit icon-white"></i>&nbsp;update bill</a>
    </div>
</div>{{bill}}