
<!-- <div class="container">
  <div class="row">
    <div class="span8 offset2">-->
      <div><h4>Bills</h4></div>
      <a class="btn btn-success" href="#/bills/add" ng-click="addBill()"><i class="icon-plus-sign icon-white"></i>&nbsp;Add a Bill</a>
      <div class="input-append pull-right">
          <input type="search" ng-model="query" class="span2" name="q" autocomplete="off" placeholder="Search" tabindex="1">
    <button class="btn"><i class="icon-search icon-large"></i> </button>
  </div>
          
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Bill Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
<!--          <tr ng-repeat="bill in bills | filter:query">
            <td>{{ bill.date}}</td>
{{ bill.date.monthOfYear }}/{{ bill.date.dayOfMonth}}/{{ bill.date.yearOfCentury}}
            <td>{{ bill.title }}</td>
            <td>${{ bill.total }}</td>
            <td>
              <button class="btn btn-small" href="#editBill">
                <i class="icon-edit"></i>&nbsp;Edit
              </button>
            </td>
          </tr>-->
          <tr ng-repeat="bill in bills | filter:query">
            <td>{{ bill.date}}</td>
            <td>{{ bill.title }}</td>
            <td>${{ bill.billFinances.billTotal }}</td>
            <td>
              <button class="btn btn-small" href="#editBill">
                <i class="icon-edit"></i>&nbsp;Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>

<!--{{bills}}-->