<br />
<div>
    <ul style="list-style: none;">
        <li ng-repeat="simpleUserIdAndLiableCost in bill.billSimpleEntry.simpleUserIdAndLiableCost ">
            <div class="row">
                <div class="col-md-5">
                    <input ng-change="simpleFriendEnabled()" type="checkbox" ng-model="simpleUserIdAndLiableCost.isActive"
                    /> <span class="done-{{!simpleUserIdAndLiableCost.isActive}}"> {{simpleUserIdAndLiableCost.user.fName}}&nbsp;{{simpleUserIdAndLiableCost.user.lName}}</span>
                </div>
                <div class="col-md-4">
                    <!--{{billsdfsdfsdfsdfsdf.xcvxcvxcvxcvxcvxcv.$error}}-->
                    <!--<span ng-show="billsdfsdfsdfsdfsdf.xcvxcvxcvxcvxcvxcv.$error.float">

            This is not a valid float number!</span>-->
                    <!-- ng-required='simpleUserIdAndLiableCost.enabled' -->
                    <input  ng-init="simpleCalculateSum()" ng-disabled="!simpleUserIdAndLiableCost.isActive" ng-change="simpleCalculateSum()" type="text" ng-model="simpleUserIdAndLiableCost.liableCost" class="col-md-6" placeholder="0.00" smart-float="smart-float" required="required" />
                </div>
            </div>
        </li>
    </ul>
    <!--{{bill.billSimpleEntry.simpleUserIdAndLiableCost}}-->
    <hr width="250" size="1" />
    <ul style="list-style: none;">
        <li>
            <div class="row">
                <div class="col-md-5">Calculated Total</div>
                <div class="col-md-4">
                    <input type="text" disabled="disabled" ng-model="simpleCalculatedTotal"
                    class="col-md-6" placeholder="0.00" />
                </div>
            </div>
        </li>
    </ul>
</div>