<div class="row">
    <div class="span12">
        <div class="row-fluid">
            <div class="span6">
                <label>First Name</label>
                <input type="text" class="span12" placeholder="">
            </div>
            <div class="span6">
                <label>Last Name</label>
                <input type="text" class="span12" placeholder="Type something…">
            </div>
        </div>
    </div>
</div>























<!--<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 ng-hide="editBill">Add a Bill</h3>
    <h3 ng-show="editBill">Edit User: {{ username }}</h3>
  </div>
  <form class="form-horizontal">
    <div class="modal-body">
      
        <label class="control-label">Username:</label>
        <div class="controls">
          <input type="text" ng-model="username" ng-disabled="!newUser" placeholder="Username" />
        </div><br />
        
        
        <label class="control-label">Payer</label>
         <div class="controls">
    <select ng-model="payer" ng-options="c.name for c in payers"></select><br>
          </div><br />
        
        <label class="control-label">Date</label>
       <div class="controls">
<div class="control-group input-append">
<input type="text" ng-model="datepicker.date" data-date-format="dd/mm/yyyy" bs-datepicker>
<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
</div>


</div>
        
        
        
      </div>
      <legend ng-hide="newUser">Change Password</legend>
      <div class="control-group{{pwError && ' error' || ''}}">
        <label class="control-label">Password:</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="password" ng-model="pw1" placeholder="Password" />
          </div>
        </div>
      </div>
      <div class="control-group{{pwError && ' error' || ''}}">
        <label class="control-label">Repeat Password:</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="password" ng-model="pw2" placeholder="Password" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn pull-left" data-dismiss="modal">
        <i class="icon-remove"></i>&nbsp;&nbsp;Cancel
      </button>
      <button type="submit" class="btn btn-primary" ng-disabled="pwError || incomplete" data-dismiss="modal">
        <i class="icon-ok icon-white"></i>&nbsp;&nbsp;Save Changes
      </button>
    </div>
  </form>
</div>-->