<div class="container">
            <div class="col-md-13">
            <div class="row">
              
                <div class="col-sm-9">
                  
                    
                   
<!--    <img style="float: left;" src="img/clipart-0081.png" class="img-responsive"
    />
    <div class="content-heading">
        <h3>Bill sharing made easy! </h3>
    </div>
    <p style="clear: both;">With your friends or roommates</p>
 -->
                    
<!--                    <img src="img/clipart-0081.png" />
                  
-->                   <h1>Bill sharing made easy!</h1>
    <p class="lead">With your friends or roommates.</p>

                </div>
                <div class="col-sm-3">
                    <form class="form-signin" role="form">

                        <h2 class="form-signin-heading">Please sign in</h2>

                        <input type="email" class="form-control"

                               placeholder="Email address" required autofocus> <input

                               type="password" class="form-control" placeholder="Password"

                               required> <label label-default class="checkbox"> <input

                                type="checkbox" value="remember-me"> Remember me

                        </label>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign

                            in</button>

                    </form>
                </div>
            </div>
        </div>
        </div>