.container
    .row
        .span8.offset2
          div
            h4 Bills
          button.btn.btn-success(ng-click='editUser(\'new\')', data-toggle='modal', href='#editModal')
            i.icon-user.icon-white
            | Add a Bill
          table.table.table-striped
            thead
              tr
                th Date
                th Title
                th Bill Total
                th
            tbody
              tr(ng-repeat='bill in bills.data')
                td
                  | {{ bill.date.monthOfYear }}/{{ bill.date.dayOfMonth}}/{{ bill.date.yearOfCentury}}
                td {{ bill.title }}
                td ${{ bill.billFinances.billTotal }}
                td
                  button.btn.btn-primary(ng-click='$parent.editUser(user._id)', data-toggle='modal', href='#editModal')
                    i.icon-pencil.icon-white
                    | Edit
          //<div class="modal hide fade" ng-include="'modal-partial.html'" id="editModal"></div>
    #editModal.modal.hide.fade(ng-include='\'partials/addBill.html\'')
    //{{bills}}
