
<!-- <div class="container">
  <div class="row">
    <div class="span8 offset2">-->
      <div><h4>Bills</h4></div>
      <a class="btn btn-success" href="#/addBill"><i class="icon-plus-sign icon-white"></i>&nbsp;Add a Bill</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Bill Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bill in bills.data">
            <td>{{ bill.date.monthOfYear }}/{{ bill.date.dayOfMonth}}/{{ bill.date.yearOfCentury}}</td>
            <td>{{ bill.title }}</td>
            <td>${{ bill.billFinances.billTotal }}</td>
            <td>
              <button class="btn btn-primary" href="#editBill">
                <i class="icon-pencil icon-white"></i>&nbsp;Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
     <!-- <div class="modal hide fade" ng-include="'modal-partial.html'" id="editModal"></div>-->
<!--    </div>
  </div>
</div>-->
<!--<div class="modal hide fade" ng-include="'partials/addBill.html'" id="editModal"></div>-->
<!--{{bills}}-->