/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

body {
    padding-top: 60px;  /*  60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 10px;
}
#components{
    min-height: 600px;
}
#target{
    min-height: 200px;
    border: 1px solid #ccc; 
    padding: 5px;
}
#target .component{
    border: 1px solid #fff;
}
#temp{
    width: 500px;
    background: white;
    border: 1px dotted #ccc;
    border-radius: 10px;
}

.popover-content form {
    margin: 0 auto;
    width: 213px;
}
.popover-content form .btn{
    margin-right: 10px
}
/* .container{
   margin-left: 10px
 }*/
#source{
    min-height: 500px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

