<div><h4>New Group<h4></div>
<div class ="row">
    <div class ="span12">
        <div class ="row-fluid">
            <form ng-include="'partials/forms/groupAddEdit.html'">
            </form>
        </div>
    </div>
     <div class="span8">
<!--         <i class="icon-search icon-large"></i>  <input class=" btn btn-primary pull-right pagination-centered" type="submit" value="add bill">-->
         
         <a ng-click="addGroup()" class="btn btn-success"><i class="icon-plus icon-white"></i>&nbsp;add group</a>
                </div>
</div>
            {{group}}