<div>
    <h4>Edit Group<h4></h4></h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form ng-include="'partials/forms/groupAddEdit.html'"></form>
        </div>
    </div>
    <div class="col-md-8">
        <!-- <i class="glyphicon glyphicon-search icon-large"></i>  <input class=" btn btn-primary pull-right pagination-centered" type="submit" value="add bill">--> <a ng-click="editGroup()" class="btn btn-success" href="#/groups/list">&nbsp;Update group</a>
    </div>
</div>
{{group}}